<% extend('layout') %>

<!-- modal content -->
<!--<div id="basic-modal-content">
        <h2>PixelScape</h2>
        <p>Welcome to PixelScape! In PixelScape, you can collaboratively (or destructively) edit a 3d environment of voxels with other players.</p>
        <h3>Controls</h3>
        <p>To allow for a larger number of possible voxels in the game at once, the voxels are rendered as square pixels in their default state. To switch to edit mode, hover the blue square over the region you wish to edit and left click. Controls for each
            state are listed below. </p>
        <h4>Both Modes</h4>
        <p><code>Right Click + Drag</code>Rotate the scene</p>
        <p><code>Mouse wheel</code>Zoom in/out</p>
        <p><code>Middle Click + Drag:</code>Pan the scene</p>
        <h4>View Mode</h4>
        <p><code>Left click</code>Convert the selected region of pixels into voxels for editing.</p>
        <p>The size of the selection square can also be adjusted using the the slider in the "Options" menu of the GUI in the top right.</p>
        <h4>Edit Mode</h4>
        <p><code>Esc</code>Return to view mode.</p>
        <p><code>Left click</code>Add a voxel at the hovered location</p>
        <p><code>Shift + Left click</code>Delete the voxel at the hovered location</p>
        <p><code>1-4</code>Select the corresponding saved color ("1" would select the first saved color)</p>
        <p><code>Ctrl + 1-4</code>Save the current color to the corresponding saved color ("Ctrl + 1" would save to saved color 1)</p>
        <h4>Additional GUI Controls</h4>
        <p><code>Color Picker</code>Click the color picker button, then click a voxel. The block color will be set to the voxel you picked.</p>
        <p><code>Random Color</code>Click it to set your block color to a random color.</p>
        <p><code>Cooldown Timer</code>This shows how much time you have left before you can perform another action.</p>
        <p><code>View Only</code>Raycasting a large number of blocks is performance heavy, so you are only allowed to convert a certain number of blocks for editing. Selecting this option will disable raycasting in edit mode, allowing you to convert more
            pixels to voxels; however, you will not be able to add or remove voxels.</p>
    </div>-->
<!-- end modal -->

<script>
    // open the modal on page load
    /*$('#basic-modal-content').modal({
        onClose: function() {
            modalClosed()
            $.modal.impl.close()
        }
    })*/
</script>

<!-- libs -->
<script src="/js/lib/jquery-1.11.1.min.js"></script>
<script src="/js/lib/threejsR83.min.js"></script>
<script src="/js/lib/Detector.min.js"></script>
<script src="/js/lib/socket.io-1.4.5.min.js"></script>
<script src="/js/lib/jquery.simplemodal.1.4.4.min.js"></script>
<script src="/js/lib/controlKit.min.js"></script>
<script src="/js/lib/getFuncParamNames.min.js"></script>
<!-- end libs -->

<!-- game classes -->
<script src="/js/classes/WorldData.js"></script>
<script src="/js/classes/SocketHandler.js"></script>
<script src="/js/classes/ParticleSystems.js"></script>
<script src="/js/classes/Raycast.js"></script>
<script src="/js/classes/GameScene.js"></script>
<script src="/js/classes/VoxelUtils.js"></script>
<script src="/js/classes/Config.js"></script>
<script src="/js/classes/SocketResponses.js"></script>
<script src="/js/classes/Mouse.js"></script>
<script src="/js/classes/Keys.js"></script>
<script src="/js/classes/MapControls.js"></script>
<script src="/js/classes/User.js"></script>
<script src="/js/classes/PixVoxConversion.js"></script>
<script src="/js/classes/BufMeshMgr.js"></script>
<script src="/js/classes/VoxelActions.js"></script>
<script src="/js/classes/GUI.js"></script>
<script src="/js/classes/Validation.js"></script>

<!-- game runner -->
<script src="/js/Main.js"></script>

<!-- css -->
<link href="css/modal.css"></link>

<!-- game container -->
<div id="container"></div>
