<% extend('layout', {pagename: 'Login'}) %>

<style>
    body {
        margin: 0px;
        overflow: hidden;
    }

    #flash_messages {
        float: left;
        background-color: #ff6666;
        width: 100%;
    }

    .flash_message {
        list-style: none;
        padding: 0;
        margin: 5px 0px 5px 0px;
        font-weight: bold;
        text-align: center;
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/login.css"></link>

<%- messages('message_template', locals) %>

<div class="login-page">
    <div class="form">
        <form class="register-form" method="POST" action="/signup">
            <input type="text" name="firstName" placeholder="First" />
            <input type="text" name="lastName" placeholder="Last" />
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <input type="email" name="email" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="POST" action="/login">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
            <p>Or <a href="/guest">Login as a Guest</a></p>
        </form>
    </div>
</div>

<script>
    $('.message a').click(function() {
        $('form').animate({
            height: "toggle",
            opacity: "toggle"
        }, "slow")
    })
</script>
