<!-- views/home.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>

    <title>PixelScape</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <style>
        body {
            margin: 0px;
            overflow: hidden;
        }
    </style>
    <!-- end css -->

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- libs -->
    <script src="/js/lib/jquery-1.11.1.js"></script>
    <script src="/js/lib/threejsR83.js"></script>
    <script src="/js/lib/Detector.js"></script>
    <script src="/js/lib/socket.io-1.4.5.js"></script>
    <script src="/js/lib/dat.gui.js"></script>
    <script src="/js/lib/jquery.simplemodal.1.4.4.js"></script>
    <!-- end libs -->

</head>

<body style="margin: 0px">

    <!-- game classes -->
    <script src="/js/classes/WorldData.js"></script>
    <script src="/js/classes/SocketHandler.js"></script>
    <script src="/js/classes/ParticleSystems.js"></script>
    <script src="/js/classes/GUI.js"></script>
    <script src="/js/classes/Raycast.js"></script>
    <script src="/js/classes/GameScene.js"></script>
    <script src="/js/classes/VoxelUtils.js"></script>
    <script src="/js/classes/Config.js"></script>
    <script src="/js/classes/Mouse.js"></script>
    <script src="/js/classes/Keys.js"></script>
    <script src="/js/classes/MapControls.js"></script>
    <script src="/js/classes/UserState.js"></script>
    <script src="/js/classes/PixVoxConversion.js"></script>
    <script src="/js/classes/BufMeshMgr.js"></script>
    <script src="/js/classes/ParticleSystems.js"></script>
    <script src="/js/classes/VoxelActions.js"></script>
    <script src="/js/classes/GUI.js"></script>

    <!-- game runner -->
    <script src="/js/Main.js"></script>

    <!-- css -->
    <link href="css/modal.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/dat.gui.css"></link>

    <!-- game container -->
    <div id="container"></div>

</body>

</html>
